
.cards-container{
    /* display: flex;  Bootstrap cards deck works 
    https://getbootstrap.com/docs/4.4/components/card/#card-decks*/
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;

}


@media only screen and (max-width: 990px) {
    .cards-container{
        column-count: 2;

    }
  }

  @media only screen and (max-width: 600px) {
    .cards-container{
        column-count: 1;

    }
  }

  